/*@font-face {
    font-family: "Font Awesome 5 Free Solid";
    src: url("fonts/font-awesome-5-free-solid-900.otf");
}*/

.fa-solid-icon {
    -fx-font-family: "Font Awesome 5 Free Solid";
    -fx-font-size: 14px;
}